<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VAZ</title>
</head>
<body>
<div style="font-family: 'Annapurna SIL',serif">
    <h1>Welcome</h1>
    <div style="font-weight: bold">
        <h3>Admin Page</h3>
        <ul>
            <ol><a href="http://localhost:8000/admin/"> Admin Login Page</a></ol>
        </ul>

        <h3>API Page</h3>
        <ul>
            <ol><a href="http://localhost:8000/api/"> APIs Page</a></ol>
            <ol><a href="http://localhost:8000/api/token/"> API JWT Token Page</a></ol>
            <ol><a href="http://localhost:8000/api/token/refresh/"> API Refresh JWT Token Page</a></ol>
        </ul>
    </div>

    <p>contact to admin: <span style="font-size: 24px; font-weight: bold"><i>ali93rahmani@gmail.com</i></span> 😎💬</p>
</div>
</body>
</html>